/*CSS Document 
 * Created 7/2012 by James Johnson of EI LLC
 * Version 1.0
 * Base css for Georges Bistro Order APP
 */
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
/*header*/
body {
   font-family: 'PT Sans', sans-serif;
}
h1 {
    font-family: 'Arvo', serif;
    
}
h2 {
    font-family: 'Arvo', serif;
}
h3 {
    font-family: 'Arvo', serif;
}
.navbar {
    background-image:none !important;
    background-color: #5B7F00;
    color:#FFFFFF;
}
.navbar-inner {
        background-image:none !important;
    background-color: #5B7F00;
    color:#FFFFFF;
}
a.brand {
    color:#FFFFFF !important;
    font-weight:400;
    font-family: 'Arvo', serif;
}
.breadcrumb > a {
   color:#5B7F00; 
    
}
.breadcrumb >a:hover{
    color:#CD7F32;
    text-decoration:none;
}
/*Main content area*/
.main-content {
    margin-top:.5em;
    margin-bottom:1em;
    
}
/*footer*/
.footer {
    text-align:center;
}
/*home_index*/
h1.welcome {
    text-align:center;
}
/*touch block navigation*/
.touch_menu_container {
    padding:.2em;
}
.touch_menu_block {
	border:outset thin #CD7F32;
	border-radius:5px;
	color:#FFFFFF;
	text-align:center;
	height:4em;
    margin-bottom:.5em;
    background-color:#5B7F00;
}


.touch_menu_h2{
	text-align:center;
	vertical-align: center;
	text-decoration:none;
	color:#FFFFFF;
}
.touch_menu_block_a {
	color:#000000;
	font-size:large;
	font-family: 'Arvo', serif;
	text-decoration:none;
	text-align:center;
	display:block;
	height:100%;
	width:100%;

}
.touch_menu_block_a:hover {
    text-decoration:none;
}
/*right side bar */
.right_side_bar_container {
    /*border:solid thick #999999;
    border-radius:5px;*/
    min-height:100%;
    padding:0px;
    text-align:center;
    margin-left:0px;
}
.right-sidebar-label {
    font-size:2em;
    vertical-align:center;
    background-color:#B94A48;
    color:#ffffff;
    width:100%;
    margin:0px;
    border-radius:5px;
}

/*Menu*/
.menu-block {
    border-radius:5px;
    border:outset #5B7F00 thin;
    text-align:center;
    margin-left:1em !important;
    
}
.menu-row{
	margin-bottom:1em;
}
.menu-container{
	padding-right:0px;
	/*max-width:70%;*/
}
.tab-content{
	overflow:auto;
}
.overview{
	min-height:100%;
    padding:0px;
    text-align:center;
    margin-left:0px;
    overflow:scroll;
    position:relative;
}
.submit-order{
	position:absolute;
	bottom:0;
	left:25%;
}
